/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/01/2018, 04:50:28 PM
    Author     : marcos
*/

body
{
   
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;

}

h1
{
    
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
    text-shadow: 5px grey;
}

div.cuadro
{
    color: blue;
    width: 800px;
    border: 25px;
    padding: 205px;
    margin: 25px;
    box-shadow: -1px 1px 1px 2px grey;
    
    
}

div.nombre
{
    color: #FFFFFF; font-size: 90px; font-family: arial; background: #000000; width: 61%; padding-left: 100px;
}

nav.inicio
{
    font-family: "arial";
    color: white;
    font-size: 25px;
    background-color: #151620;
    height:10%;
    width: 98.4%;
    line-height: 60px;
    padding-left: 30px;
}

div.media
{
    
    background-image: url("./imagenes/813087.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    padding-bottom: 15%; 
    padding-top: 15%;
    
}

div.media3
{

    height: 90%;
    width: 100%;
    padding-bottom: 1%; 
    padding-top: 1%;
    
}

.estudios
{
    font-size: 40px; font-family: arial; padding-left: 50px; padding-top: 10px; width: 200px; color: white;
}

.estudios1
{
    font-size: 40px; font-family: arial; padding-left: 50px; padding-top: 10px; width: 1000px; color: white;
}

.universidad
{
    font-size: 30px; font-family: arial; padding: 10px; padding-left: 50px; padding-bottom: 20px; width: 600px; color: white;
}

.titulo
{
    color: #FFFFFF; font-size: 50px; font-family: arial; background: #000000; width: 61%;padding-left: 100px;
}

.media1
{
    background: #151620
}

.media2
{
    background: #151620; 
    padding-right: 50px;

}

.año1
{
    font-size: 20px; font-family: arial, bold; padding-top: 1px; padding-left: 50px; padding-bottom: 20px; width: 600px; color: white;
}

.conocimientos
{
    font-size: 90px; font-family: arial; color: #ffffff; padding-left: 30px; padding-top: 10px;
}

.conocimientos1
{
    padding: 15%; padding-left: 8%; padding-bottom: 30px; padding-top: 30px;  
}

.lenguajes
{
    font-size: 60px; font-family: arial; color: white; 
}

.portafolio
{
    font-size: 90px; font-family: arial; opacity: 0.4; color: white; padding-left: 30px; padding-top: 10px;padding-bottom: 1px;
}

div.portafoliotitle
{
    padding-left: 20px;
    height: 40%;
    width: 100%;
}

.frase
{
 color: #ffffff; font-size: 30px;background: #27272b; padding: 50px;
}

.contacto
{
    font-size: 60px; font-family: arial;color: #ffffff; padding: 100px; padding-top: 10px; padding-bottom: 50px; background: #27272b;
}

.contactos
{
    padding-bottom: 40px
}


img.a   
{
    height: 200px;
     padding: 30px;
     padding-top: 100px;
     padding-bottom: 150px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

img.a:hover
{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.2,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
    
}

td.zoom
{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    padding-left: 100px; 
    padding-right: 50px;
    font-size:90px; 
    color: #ffffff;
}

td.zoom:hover
{
    -webkit-transform: scale(1.20,1.20);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transform: scale(1.20,1.20);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 200ms;
}

.footer
{
    background: #000000; color: #ffffff; padding: 30px;
}
